<%= render @post %>

<div>
  <%= link_to "Back to posts", posts_path %>
  <% if @post.user == current_account.user %>
    | <%= link_to "Edit this post", edit_post_path(@post) %>
    

    <%= button_to "Destroy this post", @post, method: :delete %>
  <% end %>
</div>

<p><strong>Likes: <%= @post.total_likes %></strong></p>

<% if @post.likes.find_by(user: current_account.user)&.value == 1 %>
  <%= button_to 'Like', post_like_path(@post), method: :delete %>
  <%= button_to 'Dislike', post_likes_path(@post, value: -1), method: :post %>
<% elsif @post.likes.find_by(user: current_account.user)&.value == -1 %>
  <%= button_to 'Like', post_likes_path(@post, value: 1), method: :post %>
  <%= button_to 'Dislike', post_like_path(@post), method: :delete %>
<% else %>
  <%= button_to 'Like', post_likes_path(@post, value: 1), method: :post %>
  <%= button_to 'Dislike', post_likes_path(@post, value: -1), method: :post %>
<% end %>

<h3>Comments</h3>
<%= form_with(model: [ @post, Comment.new ], local: true) do |form| %>
  <div class="field">
    <%= form.label :text %>
    <%= form.text_area :text %>
  </div>
  <div class="actions">
    <%= form.submit "Add Comment" %>
  </div>
<% end %>

<ul>
  <% @post.comments.each do |comment| %>
    <li>
      <strong><%= comment.user.nickname %>:</strong>
      <%= comment.text %>
      <% if comment.user == current_account.user %>
        <%= button_to 'Delete', [@post, comment], method: :delete %>
      <% end %>
    </li>
  <% end %>
</ul>
